body {
    background-color: #f8f8f8;
}


#home-link {
    color: #333333;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#home-link:hover {
    color: lightblue;
}


.watchlist {
    width: fit-content;
    margin: 3rem auto 0 auto;
    list-style-type: none;
}

.watchlist-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

#watchlist-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80vw;
    height: 10vh;
    padding: 2rem;
    margin-bottom: 1rem;

    border-radius: 10px;
    background-color: antiquewhite;

    font-size: 1.5rem;
    font-family: arial;
}

a {
    color: rgb(187, 2, 30);
}


.watchlist-remove-button {
    width: 2rem;
    height: 2rem;

    position: relative;
    right: 4rem;

    background: transparent;
    border: none;
    cursor: pointer;
}

.watchlist-remove-button::before,
.watchlist-remove-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #000;
}

.watchlist-remove-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.watchlist-remove-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* mobile */
@media (max-width: 500px) {
    .watchlist-remove-button {
        width: 0.7rem;
        height: 0.7rem;
    }
}


/* tablet */
@media (max-width: 992px) {
    .watchlist-remove-button {
        width: 1rem;
        height: 1rem;
    }
}