.ratio-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10vh;
}


.ratio-selector {
    display: flex;
    margin: 25vh 0 0 5vw;
}


.column {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
}


.ratio-button {
    margin: 1.5rem 0;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #9b9b9b;
}
.ratio-button:hover {
    color: rgb(68, 192, 233)
}


.stock-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#stock-name {
    font-family: sans-serif;
    margin: 0;
}


#favourite-checkbox {
    accent-color: #ff5a7a;
    cursor: pointer;
    margin-left: 1rem;
}
label[for="favourite-checkbox"] {
    font-family: arial;
    font-size: 0.8rem;
    color: #444;
    cursor: pointer;
}

label[for="favourite-checkbox"]:hover {
    color: #000;
}