<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='auth/auth.css') }}">
        <title>Sign-up</title>
    </head>
    <body>
        <div class="signup-form">
            <h1>Sign-up</h1>
            <input type="text" class="auth-form-input-field" name="email" placeholder="Email">
            <input type="text" class="auth-form-input-field" name="password" placeholder="Password">
            <button type="submit" id="signup-submit">Sign-up</button>
        </div>
    </body>
</html>