{% extends "base.html" %}
{% block title %}Stock Analysis{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stock_analysis/ratio_selector.css')}}">
{% endblock %}
{% block content %}
    <div class="ratio-selector">
        <div class="column">
            <button class="ratio-button">P/E ratio</button>
            <button class="ratio-button">Debt to equity</button>
            <button class="ratio-button">FCF margin</button>
        </div>
        <div class="column">
            <button class="ratio-button">P/B ratio</button>
            <button class="ratio-button">Current ratio</button>
            <button class="ratio-button">Gross margin</button>
        </div>
        <div class="column">
            <button class="ratio-button">Dividend yield</button>
            <button class="ratio-button">Quick ratio</button>
            <button class="ratio-button">Operating margin</button>
        </div>
        <div class="column">
            <button class="ratio-button">P/S ratio</button>
            <button class="ratio-button">EBITDA margin</button>
            <button class="ratio-button">P/FCF</button>
        </div>
        <div class="column">
            <button class="ratio-button">ROE</button>
            <button class="ratio-button">ROA</button>
            <button class="ratio-button">Cashflow to debt</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='stock_analysis/ratio_selector.js') }}"></script>
{% endblock %}