{% extends "base.html" %}
{% block title %}Stock Analysis{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stock_analysis/ratio_selector.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='graphing/graph.css')}}">
{% endblock %}
{% block content %}
    <div class="stock-header">
        <h1 id="stock-name" style="text-align: center;font-family: sans-serif;">{{ stock_name }}</h1>
        {% if current_user.is_authenticated %}
            <input type="checkbox" id="favourite-checkbox"><label for="favourite-checkbox">add to watchlist</label>
        {% endif %}
    </div>
    <div class="ratio-content">
        <div class="ratio-selector" onload="press_button('pe')">
            <div class="column">
                <button class="ratio-button" id="pe">P/E ratio</button>
                <button class="ratio-button" id="debt_to_equity">Debt to equity</button>
                <button class="ratio-button" id="fcf_margin">FCF margin</button>
            </div>
            <div class="column">
                <button class="ratio-button" id="pb">P/B ratio</button>
                <button class="ratio-button" id="current_ratio">Current ratio</button>
                <button class="ratio-button" id="gross_margin">Gross margin</button>
            </div>
            <div class="column">
                <button class="ratio-button" id="dividend_yield">Dividend yield</button>
                <button class="ratio-button" id="quick_ratio">Quick ratio</button>
                <button class="ratio-button" id="operating_margin">Operating margin</button>
            </div>
            <div class="column">
                <button class="ratio-button" id="ps">P/S ratio</button>
                <button class="ratio-button" id="ebitda_margin">EBITDA margin</button>
                <button class="ratio-button" id="pfcf">P/FCF</button>
            </div>
            <div class="column">
                <button class="ratio-button" id="roe">ROE</button>
                <button class="ratio-button" id="roa">ROA</button>
                <button class="ratio-button" id="cashflow_to_debt">Cashflow to debt</button>
            </div>
        </div>
        <div class="graph-area">
            <div class="period-toggle">
                <button class="period-button" id="annual">Annual</button>
                <button class="period-button" id="quarterly">Quarterly</button>
            </div>
            <div class="graph-container">
                <canvas id="chart" style="display: none;"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='graphing/graphing.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='stock_analysis/stock_analysis.js') }}"></script>
{% endblock %}