<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='watchlist/watchlist.css') }}">
        <title>watchlist</title>
    </head>
    <body>
        <a href="/" id="home-link">Home</a>
        <div>
            <ul class="watchlist">
                {% for ticker in watchlist %}
                <div class="watchlist-row">
                    <li id="watchlist-item"><a href="/stock-analysis/{{ticker}}">{{ticker}}</a></li>
                    <button data-ticker="{{ticker}}" class="watchlist-remove-button"></button>
                </div>
                {% endfor %}
            </ul>
        </div>

        <script src="{{ url_for('static', filename='watchlist/watchlist.js') }}"></script>
    </body>
</html>