body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: arial;
}

h1 {
    font-family: arial;
}


.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;

    height: 35em;
    width: 25em;
    margin-top: 20vh;

    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    border-radius: 15px;
}

.auth-form-input-field {
    display: block;
    margin: 0 auto 0 auto;

    width: 19em;
    padding: 0.75em 1em;
    box-sizing: border-box;

    border: 1.5px solid #ccc;
    border-radius: 6px;
    background-color: #fff;

    font-size: 1rem;
    font-family: sans-serif;
    
    transition: border-color 0.3s ease;
}

.auth-submit {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 1.5em;
    width: 19em;

    font-size: 16px;
    color: white;

    background-color: #1f8bfe;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s;
}
.auth-submit:hover {
    background-color: #469fff;
}


/* mobile styles */
@media (max-width: 500px), (max-height: 600px) {
    .auth-form {
        margin-top: 5vh;
        height: 448px;
        width: 320px;
        gap: 1.5rem;
    }
    
    .auth-form-input-field {
        width: 300px;
    }
}